Schemes/IFML2Schema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns:ifml2="http://toysoft.narod.ru/IFML2Schema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified" targetNamespace="http://toysoft.narod.ru/IFML2Schema"
        xmlns="http://www.w3.org/2001/XMLSchema">

    <complexType name="storyType">
        <annotation>
            <documentation>История - тип</documentation>
        </annotation>
        <all>
            <xs:element name="inheritedSystemProcedures" type="ifml2:inheritedSystemProceduresType" maxOccurs="1" minOccurs="0"/>
            <element name="storyOptions" type="ifml2:storyOptionsType" maxOccurs="1" minOccurs="0"/>
            <element name="libraries" type="ifml2:usedLibrariesType" maxOccurs="1" minOccurs="0"/>
            <element name="attribute-definitions" type="ifml2:attribute-definitionsType" maxOccurs="1" minOccurs="0"/>
            <element name="role-definitions" type="ifml2:role-definitionsType" minOccurs="0" maxOccurs="1"/>
            <element name="dictionary" type="ifml2:dictionaryType" minOccurs="1" maxOccurs="1"/>
            <element name="locations" type="ifml2:locationsType" minOccurs="1" maxOccurs="1"/>
            <element name="items" type="ifml2:itemsType" maxOccurs="1" minOccurs="0"/>
            <element minOccurs="0" maxOccurs="1" name="actions" type="ifml2:actionsType"/>
            <element minOccurs="0" maxOccurs="1" name="procedures" type="ifml2:proceduresType"/>
        </all>
        <attribute name="id" type="string" use="required"/>
    </complexType>

    <element name="story" type="ifml2:storyType">
        <annotation>
            <documentation>История - элемент</documentation>
        </annotation>

        <key name="dictWord">
            <selector xpath="dictionary/word"/>
            <field xpath="ip"/>
        </key>

        <keyref name="dictWordRef" refer="ifml2:dictWord">
            <selector xpath="locations/location"/>
            <field xpath="@word"/>
        </keyref>
    </element>

    <complexType name="locationsType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="location" type="ifml2:locationType"/>
        </sequence>
    </complexType>

    <complexType name="objectType">
        <all minOccurs="1" maxOccurs="1">
            <element name="description" type="string" minOccurs="0" maxOccurs="1"/>
            <element name="attributes" type="ifml2:attributesType" minOccurs="0" maxOccurs="1"/>
            <element name="words" type="ifml2:wordsLinksType" minOccurs="0" maxOccurs="1"/>
            <element name="roles" type="ifml2:rolesLinksType" minOccurs="0" maxOccurs="1"/>
            <element name="hooks" type="ifml2:hooksType" minOccurs="0" maxOccurs="1"/>
            <element name="properties" type="ifml2:propertiesType" minOccurs="0" maxOccurs="1"/>
        </all>
        <attribute name="id" type="ID" use="required"/>
        <attribute name="name" type="string" use="required"/>
    </complexType>

    <complexType name="wordsLinksType">
        <sequence minOccurs="1" maxOccurs="unbounded">
            <element name="word" type="string"/>
        </sequence>
        <attribute name="mainWord" type="string" use="optional"/>
    </complexType>

    <complexType name="rolesLinksType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="role" type="ifml2:roleLinkType"/>
        </sequence>
    </complexType>

    <complexType name="roleLinkType">
        <sequence>
            <element name="properties" type="ifml2:propertiesType"/>
        </sequence>
        <attribute name="name" type="string" use="required"/>
    </complexType>

    <complexType name="propertiesType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="property" type="ifml2:propertyType"/>
        </sequence>
    </complexType>

    <complexType name="propertyType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="collectionItem" type="string"/>
        </sequence>
        <attribute name="name" type="string" use="required"/>
        <attribute name="value" type="string" use="optional"/>
    </complexType>

    <complexType name="attributesType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="attribute" type="string"/>
        </sequence>
    </complexType>

    <complexType name="locationType">
        <complexContent>
            <extension base="ifml2:objectType">
                <all>
                    <element name="north" type="ifml2:idType" minOccurs="0"/>
                    <element name="north-east" type="ifml2:idType" minOccurs="0"/>
                    <element name="east" type="ifml2:idType" minOccurs="0"/>
                    <element name="south-east" type="ifml2:idType" minOccurs="0"/>
                    <element name="south" type="ifml2:idType" minOccurs="0"/>
                    <element name="south-west" type="ifml2:idType" minOccurs="0"/>
                    <element name="west" type="ifml2:idType" minOccurs="0"/>
                    <element name="north-west" type="ifml2:idType" minOccurs="0"/>
                    <element name="up" type="ifml2:idType" minOccurs="0"/>
                    <element name="down" type="ifml2:idType" minOccurs="0"/>
                </all>
                <xs:attribute name="backgroundMusic" type="xs:string"/>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="idType">
        <restriction base="string">
            <pattern value="[a-zA-Zа-яА-Я_][a-zA-Zа-яА-Я0-9_]*"/>
        </restriction>
    </simpleType>

    <complexType name="wordType">
        <xs:annotation>
            <xs:documentation>Слово - запись словаря</xs:documentation>
        </xs:annotation>
        <sequence>
            <element minOccurs="1" maxOccurs="1" name="ip" type="string">
                <xs:annotation>
                    <xs:documentation>Именительный падеж</xs:documentation>
                </xs:annotation>
            </element>
            <element minOccurs="0" maxOccurs="1" name="rp" type="string">
                <xs:annotation>
                    <xs:documentation>Родительный падеж</xs:documentation>
                </xs:annotation>
            </element>
            <element minOccurs="0" maxOccurs="1" name="dp" type="string">
                <xs:annotation>
                    <xs:documentation>Дательный падеж</xs:documentation>
                </xs:annotation>
            </element>
            <element minOccurs="0" maxOccurs="1" name="vp" type="string">
                <xs:annotation>
                    <xs:documentation>Винительный падеж</xs:documentation>
                </xs:annotation>
            </element>
            <element minOccurs="0" maxOccurs="1" name="tp" type="string">
                <xs:annotation>
                    <xs:documentation>Творительный падеж</xs:documentation>
                </xs:annotation>
            </element>
            <element minOccurs="0" maxOccurs="1" name="pp" type="string">
                <xs:annotation>
                    <xs:documentation>Предложный падеж</xs:documentation>
                </xs:annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="dictionaryType">
        <xs:annotation>
            <xs:documentation>Словарь</xs:documentation>
        </xs:annotation>
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="word" type="ifml2:wordType"/>
        </sequence>
    </complexType>

    <complexType name="actionsType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="action" type="ifml2:actionType"/>
        </sequence>
    </complexType>

    <complexType name="actionType">
        <all>
            <element minOccurs="1" maxOccurs="1" name="templates" type="ifml2:templatesType"/>
            <element minOccurs="0" maxOccurs="1" name="restrictions" type="ifml2:restrictions"/>
            <element minOccurs="1" maxOccurs="1" name="procedureCall" type="ifml2:procedureCallType"/>
        </all>
        <attribute name="name" type="string" use="required"/>
        <attribute name="description" type="string" use="optional"/>
    </complexType>

    <complexType name="restrictions">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="restriction" type="ifml2:restriction"/>
        </sequence>
    </complexType>

    <complexType name="restriction">
        <sequence>
            <element minOccurs="1" maxOccurs="1" name="reaction" type="ifml2:instructionsType"/>
        </sequence>
        <attribute name="condition" type="string" use="required"/>
    </complexType>

    <complexType name="templatesType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="template" type="ifml2:templateType"/>
        </sequence>
    </complexType>

    <complexType name="templateType">
        <choice minOccurs="1" maxOccurs="unbounded">
            <element name="literalElement" type="ifml2:literalElementType"/>
            <element name="objectElement" type="ifml2:objectElementType"/>
        </choice>
    </complexType>

    <complexType name="templateElementType">
        <attribute name="position" use="optional">
            <simpleType>
                <restriction base="positiveInteger">
                    <minInclusive value="0"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="parameter" use="optional" type="string"/>
    </complexType>

    <complexType name="literalElementType">
        <complexContent>
            <extension base="ifml2:templateElementType">
                <sequence minOccurs="0" maxOccurs="unbounded">
                    <element name="synonym" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="objectElementType">
        <complexContent>
            <extension base="ifml2:templateElementType">
                <attribute name="case" use="required" type="ifml2:caseEnumType"/>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="caseEnumType">
        <restriction base="string">
            <enumeration value="ip"/>
            <enumeration value="rp"/>
            <enumeration value="dp"/>
            <enumeration value="vp"/>
            <enumeration value="tp"/>
            <enumeration value="pp"/>
        </restriction>
    </simpleType>

    <xs:simpleType name="timerTypeEnumType">
        <restriction base="xs:string">
            <xs:enumeration value="realTime"/>
            <xs:enumeration value="actionsCount"/>
        </restriction>
    </xs:simpleType>

    <complexType name="procedureCallType">
        <attribute name="procedure" type="string" use="required"/>
    </complexType>

    <complexType name="proceduresType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="procedure" type="ifml2:procedureType"/>
        </sequence>
    </complexType>

    <complexType name="instructionsType">
        <choice minOccurs="0" maxOccurs="unbounded">
            <element name="goToLoc" type="ifml2:instructionGoToLocationType"/>
            <element name="showMessage" type="ifml2:instructionShowMessageType"/>
            <element name="if" type="ifml2:instructionIfType"/>
            <element name="loop" type="ifml2:instructionLoopType"/>
            <element name="var" type="ifml2:instructionSetVarType"/>
            <element name="return" type="ifml2:instructionReturnType"/>
            <element name="setProperty" type="ifml2:instructionSetPropertyType"/>
            <element name="moveItem" type="ifml2:instructionMoveItemType"/>
            <element name="rollDice" type="ifml2:instructionRollDiceType"/>
            <element name="runProcedure" type="ifml2:instructionRunProcedureType"/>
            <xs:element name="showPicture" type="ifml2:instructionShowPictureType"/>
            <xs:element name="playMusic" type="ifml2:instructionPlayMusicType"/>
            <xs:element name="startTimer" type="ifml2:instructionStartTimerType"/>
        </choice>
    </complexType>

    <complexType name="procedureType">
        <all>
            <element name="parameters" minOccurs="0" maxOccurs="1" type="ifml2:parametersType"/>
            <element name="procedureVariables" minOccurs="0" maxOccurs="1" type="ifml2:procedureVariablesType"/>
            <element name="procedureBody" minOccurs="1" maxOccurs="1" type="ifml2:instructionsType"/>
        </all>
        <attribute name="name" type="string" use="required"/>
        <attribute name="inheritsSystemProcedure" type="ifml2:systemProcedureEnumType" use="optional"/>
    </complexType>

    <complexType name="parametersType">
        <sequence>
            <element name="parameter" minOccurs="0" maxOccurs="unbounded" type="ifml2:parameter"/>
        </sequence>
    </complexType>

    <complexType name="parameter">
        <attribute name="name" type="string" use="required"/>
    </complexType>

    <complexType name="procedureVariablesType">
        <sequence>
            <element name="procedureVariable" minOccurs="0" maxOccurs="unbounded" type="ifml2:procedureVariableType"/>
        </sequence>
    </complexType>

    <complexType name="procedureVariableType">
        <attribute name="name" type="string" use="required"/>
        <attribute name="initialValue" type="string" use="required"/>
    </complexType>

    <complexType name="instructionType">
        <attribute name="position" use="optional">
            <simpleType>
                <restriction base="positiveInteger">
                    <!--<minInclusive value="1"/>-->
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="instructionGoToLocationType">
        <complexContent mixed="false">
            <extension base="ifml2:instructionType">
                <attribute name="location" type="string"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="itemType">
        <complexContent>
            <extension base="ifml2:objectType">
                <all minOccurs="1" maxOccurs="1">
                    <element name="startingPosition" type="ifml2:itemStartingPositionType" minOccurs="0" maxOccurs="1"/>
                </all>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="itemStartingPositionType">
        <sequence>
            <element name="inventory" type="boolean" minOccurs="0" maxOccurs="1"/>
            <element name="locations" type="ifml2:locationsListType" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="locationsListType">
        <all>
            <element name="location" type="IDREF"/>
        </all>
    </complexType>

    <complexType name="hooksType">
        <sequence>
            <element name="hook" type="ifml2:hookType" maxOccurs="unbounded" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="hookType">
        <sequence>
            <element name="instructions" type="ifml2:instructionsType" maxOccurs="1"/>
        </sequence>
        <attribute name="type" type="ifml2:hookEnumType" use="required"/>
        <attribute name="action" type="string" use="required"/>
        <attribute name="objectElement" type="string" use="optional"/>
        <!-- action template parameter name for item hooks -->
        <xs:attribute name="isRunAfterRestrictions" type="xs:boolean"/>
    </complexType>

    <simpleType name="hookEnumType">
        <restriction base="string">
            <enumeration value="instead"/>
            <enumeration value="before"/>
            <enumeration value="after"/>
        </restriction>
    </simpleType>

    <complexType name="locationItemsType">
        <sequence>
            <element name="item" type="ifml2:itemType" maxOccurs="unbounded" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="itemsType">
        <sequence>
            <element name="item" type="ifml2:itemType" maxOccurs="unbounded" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="instructionShowMessageType">
        <complexContent>
            <extension base="ifml2:instructionType">
                <attribute name="type" use="required" type="ifml2:showMessageTypeEnumType"/>
                <attribute name="carriageReturn" use="optional" type="xs:boolean" default="true"/>
                <attribute name="beginWithCap" use="optional" type="xs:boolean" default="false"/>
                <attribute name="message" use="required" type="string"/>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="showMessageTypeEnumType">
        <restriction base="string">
            <enumeration value="text"/>
            <enumeration value="expression"/>
        </restriction>
    </simpleType>

    <complexType name="instructionIfType">
        <complexContent>
            <extension base="ifml2:instructionType">
                <all>
                    <element name="then" type="ifml2:instructionsType" minOccurs="1" maxOccurs="1"/>
                    <element name="else" type="ifml2:instructionsType" minOccurs="0" maxOccurs="1"/>
                </all>
                <attribute name="condition" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="instructionLoopType">
        <complexContent>
            <extension base="ifml2:instructionType">
                <all>
                    <element name="empty" type="ifml2:instructionsType" minOccurs="0" maxOccurs="1"/>
                    <element name="alone" type="ifml2:instructionsType" minOccurs="0" maxOccurs="1"/>
                    <element name="first" type="ifml2:instructionsType" minOccurs="0" maxOccurs="1"/>
                    <element name="next" type="ifml2:instructionsType" minOccurs="0" maxOccurs="1"/>
                    <element name="last" type="ifml2:instructionsType" minOccurs="0" maxOccurs="1"/>
                </all>
                <attribute name="collection" type="string" use="required"/>
                <attribute name="element" type="string" use="required"/>
                <attribute name="condition" type="string"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="instructionSetVarType">
        <complexContent>
            <extension base="ifml2:instructionType">
                <attribute name="name" type="string" use="required"/>
                <attribute name="value" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="instructionReturnType">
        <complexContent>
            <extension base="ifml2:instructionType">
                <attribute name="value" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="instructionSetPropertyType">
        <complexContent>
            <extension base="ifml2:instructionType">
                <attribute name="object" type="string" use="required"/>
                <attribute name="name" type="string" use="required"/>
                <attribute name="value" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="instructionMoveItemType">
        <complexContent>
            <extension base="ifml2:instructionType">
                <attribute name="item" type="string" use="required"/>
                <attribute name="to" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    
    <xs:complexType name="instructionShowPictureType">
        <complexContent>
            <extension base="ifml2:instructionType">
                <xs:attribute name="filepath" type="xs:string" use="required"/>
                <xs:attribute name="maxHeight" type="xs:int" use="optional"/>
                <xs:attribute name="maxWidth" type="xs:int" use="optional"/>
            </extension>
        </complexContent>
    </xs:complexType>

    <xs:complexType name="instructionPlayMusicType">
        <xs:complexContent>
            <extension base="ifml2:instructionType">
                <xs:attribute name="name" type="xs:string" use="required"/>
            </extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="instructionStartTimerType">
        <xs:complexContent>
            <extension base="ifml2:instructionType">
                <all>
                    <element name="reaction" type="ifml2:instructionsType"/>
                </all>
                <xs:attribute name="timerType" type="ifml2:timerTypeEnumType" use="required"/>
                <xs:attribute name="duration" type="xs:duration"/>
                <xs:attribute name="actionsCount" type="xs:integer"/>
            </extension>
        </xs:complexContent>
    </xs:complexType>

    <element name="library" type="ifml2:libraryType"/>

    <complexType name="libraryType">
        <all>
            <element name="attribute-definitions" type="ifml2:attribute-definitionsType" maxOccurs="1" minOccurs="0"/>
            <element name="role-definitions" type="ifml2:role-definitionsType" minOccurs="0" maxOccurs="1"/>
            <element name="actions" type="ifml2:actionsType" maxOccurs="1" minOccurs="0"/>
            <element name="procedures" type="ifml2:proceduresType" maxOccurs="1" minOccurs="0"/>
        </all>
        <attribute name="name" type="string"/>
    </complexType>

    <complexType name="attribute-definitionsType">
        <sequence maxOccurs="unbounded">
            <element name="attribute-definition" type="ifml2:attribute-definition"/>
        </sequence>
    </complexType>

    <complexType name="attribute-definition">
        <attribute name="name" type="string" use="required"/>
        <attribute name="description" type="string" use="optional"/>
    </complexType>

    <complexType name="role-definitionsType">
        <sequence maxOccurs="unbounded">
            <element name="role-definition" type="ifml2:role-definitionType"/>
        </sequence>
    </complexType>

    <complexType name="role-definitionType">
        <all>
            <element name="attributes" type="ifml2:attributesType" minOccurs="0" maxOccurs="1"/>
            <element name="properties" type="ifml2:properties-definitionsType" minOccurs="0" maxOccurs="1"/>
            <element name="triggers" type="ifml2:triggersType" minOccurs="0" maxOccurs="1"/>
        </all>
        <attribute name="name" type="string" use="required"/>
        <attribute name="description" type="string" use="optional"/>
    </complexType>

    <complexType name="properties-definitionsType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="property" type="ifml2:property-definitionType"/>
        </sequence>
    </complexType>

    <complexType name="property-definitionType">
        <attribute name="name" type="string" use="required"/>
        <attribute name="description" type="string" use="optional"/>
        <attribute name="type" type="ifml2:propertyTypeEnumType" use="required"/>
        <attribute name="value" type="string" use="optional"/>
    </complexType>

    <simpleType name="propertyTypeEnumType">
        <restriction base="string">
            <enumeration value="text"/>
            <enumeration value="number"/>
            <enumeration value="logic"/>
            <enumeration value="collection"/>
        </restriction>
    </simpleType>

    <complexType name="triggersType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="trigger" type="ifml2:triggerType"/>
        </sequence>
    </complexType>

    <complexType name="triggerType">
        <sequence>
            <element name="instructions" type="ifml2:instructionsType" maxOccurs="1"/>
        </sequence>
        <attribute name="type" type="ifml2:triggerTypeEnumType" use="required"/>
    </complexType>

    <simpleType name="triggerTypeEnumType">
        <restriction base="string">
            <enumeration value="getAccessibleContent"/>
        </restriction>
    </simpleType>

    <complexType name="usedLibrariesType">
        <sequence maxOccurs="unbounded">
            <element name="library" type="string" maxOccurs="unbounded" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="storyOptionsType">
        <all minOccurs="0">
            <element name="startLocationOption" type="ifml2:startLocationOptionType"/>
            <element name="startProcedureOption" type="ifml2:startProcedureOptionType"/>
            <element name="storyDescription" type="ifml2:storyDescriptionType"/>
            <element name="globalVars" type="ifml2:varsType" minOccurs="0"/>
            <xs:element name="systemCommandsDisableOption" type="ifml2:systemCommandsDisableOptionType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="musicList" type="ifml2:musicListType" minOccurs="0" maxOccurs="1"/>
        </all>
    </complexType>

    <xs:complexType name="inheritedSystemProceduresType">
        <all minOccurs="1" maxOccurs="1">
            <xs:element name="parseErrorHandler" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </all>
    </xs:complexType>

    <complexType name="startLocationOptionType">
        <attribute name="location" type="string"/>
        <attribute name="showStartLocDesc" type="boolean"/>
    </complexType>

    <complexType name="startProcedureOptionType">
        <attribute name="procedure" type="string"/>
    </complexType>

    <complexType name="storyDescriptionType">
        <attribute name="name" type="string"/>
        <attribute name="description" type="string"/>
        <attribute name="version" type="string"/>
        <attribute name="author" type="string"/>
    </complexType>

    <complexType name="varsType">
        <sequence>
            <element name="var" minOccurs="0" maxOccurs="unbounded" type="ifml2:instructionSetVarType"/>
        </sequence>
    </complexType>

    <simpleType name="systemProcedureEnumType">
        <restriction base="string">
            <enumeration value="showLocation">
                <annotation>
                    <documentation>Системная процедура, выводящая описание текущей локации: её имя, описание и список предметов в ней.
                        Параметров не принимает.
                    </documentation>
                </annotation>
            </enumeration>
            <xs:enumeration value="parseErrorHandler">
                <xs:annotation>
                    <xs:documentation>Системная процедура, обрабатывающая ошибки парсинга.
                        Параметры: текст Фраза - фраза, введённая игроком; текст Ошибка - текст ошибки парсинга.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </restriction>
    </simpleType>

    <complexType name="instructionRollDiceType">
        <complexContent>
            <extension base="ifml2:instructionType">
                <attribute name="from" type="integer" use="required"/>
                <attribute name="to" type="integer" use="required"/>
                <attribute name="var" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>

    <xs:complexType name="instructionRunProcedureType">
        <xs:complexContent>
            <extension base="ifml2:instructionType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="parameter" type="ifml2:procedureRunParameter"/>
                </xs:sequence>
                <xs:attribute name="procedure" type="xs:string" use="required"/>
                <xs:attribute name="returnToVar" type="xs:string" use="optional"/>
            </extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="procedureRunParameter">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="systemCommandsDisableOptionType">
        <xs:attribute type="xs:boolean" name="DisableHelp"/>
        <xs:attribute type="xs:boolean" name="DisableDebug"/>
    </xs:complexType>

    <xs:complexType name="musicListType">
        <sequence>
            <xs:element name="music" type="ifml2:musicType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </xs:complexType>
    <xs:complexType name="musicType">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="fileName" type="xs:string"/>
    </xs:complexType>
</schema>